{{!< default}}
<header id="home">
	<!-- Background Image -->
	<div class="bg-img" style="background-image: url('/images/drive-cover-min.jpg');">
		<div class="overlay"></div>
	</div>
	<!-- /Background Image -->

	<!-- Nav -->
	<nav id="nav" class="navbar nav-transparent">
		<div class="container">

			<div class="navbar-header">
				<!-- Collapse nav button -->
				<div class="nav-collapse">
					<span></span>
				</div>
				<!-- /Collapse nav button -->
			</div>

			<!--  Main navigation  -->
			<ul class="main-nav nav navbar-nav navbar-right">
				<li><a href="#home">Főoldal</a></li>
				<li><a href="#about">Iskolánk</a></li>
				<li><a href="#service">Tanfolyamok</a></li>
				<li><a href="#pricing">Áraink</a></li>
				<li><a href="#team">Oktatóink</a></li>
				<li><a href="#contact">Kapcsolat</a></li>
				<li><a href="/statisztika">Statisztika</a></li>
			</ul>
			<!-- /Main navigation -->

		</div>
	</nav>
	<!-- /Nav -->

	<!-- home wrapper -->
	<div class="home-wrapper">
		<div class="container">
			<div class="row">
				<!-- home content -->
				<div class="col-md-10 col-md-offset-1">
					<div class="home-content">
						<h1 class="white-text">Szemi Autós - Motoros Iskola</h1>
						<p class="white-text">Ahol "szemi" perc alatt megtanul vezetni!</p>
						<button class="white-btn"><a href="#contact">Kapcsolat</a></button>
						<button class="main-btn"><a href="#service" style="color: white">Tanfolyamok</a></button>
					</div>
				</div>
				<!-- /home content -->
			</div>
		</div>
	</div>
	<!-- /home wrapper -->

</header>
<!-- /Header -->

<!-- About -->
<div id="about" class="section md-padding">

	<!-- Container -->
	<div class="container">
		<!-- Section header -->
		<div class="col-md-6">
			<div class="section-header">
				<h2 class="title">Kedves leendő tanuló!</h2>
			</div>
			<p>Szemenyei Béla vagyok, az iskola vezetője. Immár 2004-óta oktatok. Az oktatással töltött idő alatt minden kategóriát érintettem, és két autósiskolánál is tanítottam. Az így összegyűlt tapasztalat, és a tanítás iránti lelkesedésem vezetett egy saját iskola alapításához. Autósiskolánk sok éves tapasztalattal vár Téged! Ha színvonalas, és gyakorlatias oktatásra vágysz, igényes környezetben, akkor nálunk a helyed!</p>
			<div class="feature">
				<i class="fa fa-check"></i>
				<p>igényes tantermi környezet</p>
			</div>
			<div class="feature">
				<i class="fa fa-check"></i>
				<p>fejlett géppark</p>
			</div>
			<div class="feature">
				<i class="fa fa-check"></i>
				<p>évtizedes tapasztalat</p>
			</div>
		</div>
		<!-- /why choose us content -->

		<!-- About slider -->
		<div class="col-md-6">
			<div id="about-slider" class="owl-carousel owl-theme">
				<img class="img-responsive" src="/images/szemi-autosiskola1.jpg" alt="Szemi Autós - Motoros Iskola tanterem.">
				<img class="img-responsive" src="/images/szemi-autosiskola2.jpg" alt="Szemi Autós - Motoros Iskola tanterem.">
				<img class="img-responsive" src="/images/szemi-autosiskola3.jpg" alt="Szemi Autós - Motoros Iskola személyautók.">
				<img class="img-responsive" src="/images/szemi-autosiskola4.jpg" alt="Szemi Autós - Motoros Iskola busz.">
				<img class="img-responsive" src="/images/szemi-autosiskola5.jpg" alt="Szemi Autós - Motoros Iskola tanterem.">
				<img class="img-responsive" src="/images/szemi-autosiskola6.jpg" alt="Szemi Autós - Motoros Iskola teherautó nehézpótkocsival.">
			</div>
		</div>
	</div>
	<!-- /Container -->

</div>
<!-- /About -->


<!-- Portfolio -->
<div id="service" class="section md-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Tanfolyamok</h2>
			</div>
			<!-- /Section header -->

			<!-- service -->
			<div class="col-md-6 col-sm-6">
				<div class="service">
					<i class="fa fa-car"></i>
					<h3>Személyautó jogosítvány</h3>
					<div class="category">
						<p>B</p>
					</div>
					<div class="category">
						<p>BE</p>
					</div>
				</div>
			</div>
			<!-- /service -->

			<!-- service -->
			<div class="col-md-6 col-sm-6">
				<div class="service">
					<i class="fa fa-truck"></i>
					<h3>Teherautó jogosítvány</h3>
					<div class="category">
						<p>C</p>
					</div>
					<div class="category">
						<p>CE</p>
					</div>
				</div>
			</div>
			<!-- /service -->

			<!-- service -->
			<div class="col-md-6 col-sm-6">
				<div class="service">
					<i class="fa fa-bus"></i>
					<h3>Busz jogosítvány</h3>
					<div class="category">
						<p>D</p>
					</div>
				</div>
			</div>
			<!-- /service -->

			<!-- service -->
			<div class="col-md-6 col-sm-6">
				<div class="service">
					<i class="fa fa-motorcycle"></i>
					<h3>Motor jogosítvány</h3>
					<div class="category">
						<p>A</p>
					</div>
					<div class="category">
						<p>A1</p>
					</div>
          <div class="category">
						<p>A2</p>
					</div>
          <div class="category">
						<p>AM</p>
					</div>
				</div>
			</div>
		</div>
		<!-- /Row -->

		<div class="course-info">
			<p>A jogosítvány megszerzésére való felkészülés mindig a KRESZ tanfolyammal kezdődik. Iskolánknál két helyen lehetséges megkezdeni az ezzel kapcsolatos felkészülést. A KRESZ tanfolyamok két városban is indulnak:</p>
			<p>5900 Orosháza, Székács József utca 39.</p>
			<p>5940 Tótkomlós, Dózsa György út 24.</p>
			<a target="_blank" href="http://edukresz.hu" class="e-learning-link">
				<img src="/images/edukresz.png" class="e-learning-img" alt="Edukresz logo">
			</a>
			<p>Online e-learning kurzusok indulnak az e-Titán segítségével!</p>
		</div>

		<table class="table table-striped table-bordered">
			<tr>
				<th>Tanfolyam kezdete</th>
				<th>Tanfolyam helye</th>
			</tr>
			{{# each courses}}
			<tr>
				<td>{{{start}}}</td>
				<td>{{{place}}}</td>
			</tr>
			{{/each}}
		</table>

	</div>
	<!-- /Container -->

</div>
<!-- /Portfolio -->

<!-- Pricing -->
<div id="pricing" class="section md-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Áraink</h2>
			</div>
			<!-- /Section header -->

			<!-- pricing -->
			<a href="/a1-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-a1">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Motor</span>
								<div class="price">
									<h3>A1<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

      <!-- pricing -->
			<a href="/a2-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-a1">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Motor</span>
								<div class="price">
									<h3>A2<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

			<!-- pricing -->
			<a href="/a-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-a">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Motor</span>
								<div class="price">
									<h3>A<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

      <!-- pricing -->
			<a href="/am-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-am">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Motor</span>
								<div class="price">
									<h3>AM<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

		</div>
		<!-- Row -->

		<!-- Row -->
		<div class="row">

      <!-- pricing -->
			<a href="/b-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-b">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Személyautó</span>
								<div class="price">
									<h3>B<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

      <!-- pricing -->
			<a href="/be-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-be">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Nehézpótkocsi</span>
								<div class="price">
									<h3>BE<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

			<!-- pricing -->
			<a href="/c-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-c">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Teherautó</span>
								<div class="price">
									<h3>C<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

			<!-- pricing -->
			<a href="/ce-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-ce">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Nehézpótkocsi</span>
								<div class="price">
									<h3>CE<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

			<!-- pricing -->
			<a href="/d-arak" target="_blank">
				<div class="col-sm-3">
					<div class="pricing pricing-d">
						<div class="price-overlay">
							<div class="price-head">
								<span class="price-title">Busz</span>
								<div class="price">
									<h3>D<span class="duration">kategória</span></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</a>
			<!-- /pricing -->

		</div>
		<!-- Row -->

		<div class="price-buttons">
			<a href="/tajekoztato" target="_blank">
				<button type="button" class="more-info">Írásos tájékoztatónk</button>
			</a>
		</div>
		
	</div>
	<!-- /Container -->

</div>
<!-- /Pricing -->

<!-- Team -->
<div id="team" class="section md-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section header -->
			<div class="section-header text-center">
				<h2 class="title">Oktatóink</h2>
			</div>
			<!-- /Section header -->

			<!-- team -->
			<div class="col-sm-6">
				<div class="team">
					<div class="team-img">
						<img class="img-responsive" src="/images/szemenyei-bela.jpeg" alt="Szemenyei Béla igazgató.">
					</div>
					<div class="team-content">
						<h3>Szemenyei Béla</h3>
            <p>+3620-923-08-22</p>
					</div>
				</div>
			</div>
			<!-- /team -->

			<!-- team -->
			<div class="col-sm-6">
				<div class="team">
					<div class="team-img">
						<img class="img-responsive" src="/images/szemenyei-zoltan.jpg" alt="Szemenyei Zoltán oktató.">
					</div>
					<div class="team-content">
						<h3>Szemenyei Zoltán</h3>
            <p>+3670-424-69-65</p>
					</div>
				</div>
			</div>
			<!-- /team -->

      <!-- team -->
			<div class="col-sm-6">
				<div class="team">
					<div class="team-img">
						<img class="img-responsive" src="/images/csepregi-robert.jpg" alt="Csepregi Róbert oktató.">
					</div>
					<div class="team-content">
						<h3>Csepregi Róbert</h3>
            <p>+3630-545-41-11</p>
					</div>
				</div>
			</div>
			<!-- /team -->

			<!-- team -->
			<div class="col-sm-6">
				<div class="team">
					<div class="team-img black-border">
						<img class="img-responsive" src="/images/bajnoczi-pal.jpeg" alt="Bajnóczi Pál oktató.">
					</div>
					<div class="team-content">
						<h3>Bajnóczi Pál emlékére</h3>
					</div>
				</div>
			</div>
			<!-- /team -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Team -->

<!-- Contact -->
<div id="contact" class="section md-padding">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<!-- Section-header -->
			<div class="section-header text-center">
				<h2 class="title">Elérhetőségeink</h2>
			</div>
			<!-- /Section-header -->

			<!-- contact -->
			<div class="col-sm-4">
				<div class="contact">
					<i class="fa fa-phone"></i>
					<h3>Telefon</h3>
					<p>+3620-923-08-22</p>
				</div>
			</div>
			<!-- /contact -->

			<!-- contact -->
			<div class="col-sm-4">
				<div class="contact">
					<i class="fa fa-map-marker"></i>
					<h3>Cím</h3>
					<p>5900 Orosháza, Székács József utca 39.</p>
				</div>
			</div>
			<!-- /contact -->

			<!-- contact -->
			<div class="col-sm-4">
				<div class="contact">
					<i class="fa fa-envelope"></i>
					<h3>Email</h3>
					<p>szemisuli@gmail.com</p>
				</div>
			</div>
			<!-- /contact -->

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</div>
<!-- /Contact -->


<!-- Footer -->
<footer id="footer" class="sm-padding bg-dark">

	<!-- Container -->
	<div class="container">

		<!-- Row -->
		<div class="row">

			<div class="col-md-4 col-sm-4">

				<h3 style="color: #FFF">Nyitvatartás</h3>
				<!-- footer open hours -->
				<ul class="footer-open">
					<li>Kedd - 18:00 - 20:00</li>
					<li>Szerda - 18:00 - 20:00</li>
					<li>Csütörtök - 18:00 - 20:00</li>
					<li>Péntek - 18:00 - 20:00</li>
				</ul>
        <p style="color: #FFF; margin-top: 2rem;">Felnőttképzési nyilvántartási szám: B/2020/004757</p>
				<!-- /footer open hours -->

			</div>

			<div class="col-md-4 col-sm-4">

				<!-- footer follow -->
				<div class="fb-page" data-href="https://www.facebook.com/szemisuli" data-width="300" data-height="210" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
					<blockquote cite="https://www.facebook.com/szemisuli" class="fb-xfbml-parse-ignore">
						<a href="https://www.facebook.com/szemisuli">Szemi Autós - Motoros Iskola</a>
					</blockquote>
				</div>
				<!-- /footer follow -->

			</div>

			<div class="col-md-4 col-sm-4 sitemap">

				<h3>Szemi Autós - Motoros Iskola</h3>
				<!-- footer sitemap -->
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-6">
						<ul class="footer-sitemap">
							<li><a href="#home">Főoldal</a></li>
							<li><a href="#about">Iskolánk</a></li>
							<li><a href="#service">Tanfolyamok</a></li>
						</ul>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6">
						<ul class="footer-sitemap">
							<li><a href="#pricing">Áraink</a></li>
							<li><a href="#team">Oktatóink</a></li>
							<li><a href="#contact">Kapcsolat</a></li>
						</ul>
					</div>
					<div class="col-md-12">
						<ul class="footer-sitemap">
							<li><a href="/adatvedelem">Adatvédelmi nyilatkozat</a></li>
						</ul>
					</div>
				</div>
				<!-- /footer sitemap -->

			</div>

		</div>
		<!-- /Row -->

	</div>
	<!-- /Container -->

</footer>
<!-- /Footer -->

<!-- Back to top -->
<div id="back-to-top"></div>
<!-- /Back to top -->
